@blue: #295f94;

body {
  background: #fff;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 15px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb{
  background-color: @blue;
  border-radius: 15px;
  border: 3.5px solid #fff;
}
::-webkit-scrollbar-thumb:hover{
  background-color: lighten(@blue, 10%);
}
::-webkit-scrollbar-thumb:active{
  background-color: lighten(@blue, 15%);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 90%;
  max-width: 1600px;
}

.map-page,
.page-template-basins,
.post-type-archive-basin,
.page-template-map {
  .container {
    width: auto;
    max-width: none;
    margin-left: 1.2em;
    margin-right: 1.2em;
  }
}

h1 {
  letter-spacing: 0;
}

button,
.button,
a.button,
input[type='submit'] {
  background: #0abd56;
  border-radius: 0;
  border: 0;
  color: #fff;
  height: auto;
  padding: 10px 15px;
  line-height: 1.6;
  white-space: normal;
  &:focus,
  &:hover {
    background: lighten(#0abd56, 5%);
    color: #fff;
  }
  &:active {
    background: lighten(#0abd56, 7%);
  }
}

.brand {
  img {
    float: left;
    margin: 0 1.2em 0 -4px;
  }
  .title {
    float: left;
    padding-top: 24px;
    font-size: 2.4em;
    line-height: 1;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    a {
      color: inherit;
      text-decoration: none;
      outline: none;
      &:focus,
      &:hover {
        text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
      }
    }
    .subject {
      letter-spacing: -.07em;
      font-weight: bold;
      display: block;
    }
    .product {
      // text-transform: uppercase;
      font-size: .8em;
    }
  }
  &.small {
    .title {
      padding-top: 0;
      font-size: 1.6em;
      line-height: 50px;
      .subject,
      .product {
        display: inline-block;
      }
      .subject {
        letter-spacing: -.05em;
      }
    }
  }
}

.arp-map {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  iframe {
    width: 200%;
    height: 200%;
    margin-top: -33.3333%;
    margin-left: -50%;
  }
  .arp-bottom,
  .arp-right,
  .arp-top,
  .arp-left {
    position: absolute;
  }
  .arp-bottom {
    bottom: 0;
  }
  .arp-left {
    left: 0;
  }
  .arp-right {
    right: 0;
  }
  .arp-top {
    top: 0;
  }
  .arp-map-box {
    width: 150px;
    background: #fff;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    padding: 1rem 1.5rem;
    color: #666;
    margin: 15px;
  }
  .tooltip {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 40%;
    background: #fff;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    // margin-left: -100px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: -10px;
      margin-top: -10px;
      background: #fff;
      top: 50%;
      transform: rotate(45deg);
    }
    .tooltip-content {
      position: absolute;
      top: 2rem;
      left: 2rem;
      right: 1rem;
      bottom: 2rem;
      overflow: auto;
      h2 {
        font-size: .9em;
        color: #999;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0 0 .5rem;
      }
      p {
        font-size: 1.1em;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        color: #333;
        border-bottom: 1px solid #ddd;
      }
    }
  }
  .legend {
    width: 150px;
    p {
      margin: 1rem 0;
      img,
      .sqr {
        border-radius: 4px;
        float: left;
        display: block;
        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
    }
  }
  .download {
    p {
      margin: 0;
      font-weight: 600;
      text-align: center;
      a {
        span {
          padding-right: 10px;
        }
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

#masthead {
  // background: #86badd;
  // padding-bottom: 40px;
  position: relative;
  z-index: 500;
  height: 140px;
  .brand {
    img {
      transition: all .2s linear;
    }
  }
  &.fixed {
    .brand {
      img {
        margin-top: -200px;
      }
    }
  }
  &.collapsed {
    height: 50px;
    background: @blue;
    border-bottom: 5px solid darken(#295f94, 20%);
    // border-bottom: 10px solid #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
  &.transparent {
    background: transparent;
    pointer-events: none;
    border: 0;
    .brand,
    nav {
      pointer-events: auto;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 200px;
      background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }
  }
  .brand {
    float: left;
  }
  nav {
    text-align: right;
    float: right;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    > div {
      float: left;
    }
    ul {
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 0;
        padding: 0;
      }
    }
    .menu-item {
      float: left;
    }
    a {
      border-left: 1px solid #ccc;
      float: left;
      color: #666;
      text-decoration: none;
      background: #fff;
      padding: 15px;
      line-height: 1;
      font-weight: 600;
      font-size: .8em;
      text-transform: uppercase;
      position: relative;
      outline: none;
      &:focus,
      &:hover {
        color: #333;
        z-index: 2;
        box-shadow: 0 0 4px rgba(0,0,0,0.2);
      }
      &:active {
        color: #111;
        box-shadow: 0 0 4px rgba(0,0,0,0.3);
      }
      .fa {
      }
    }
    .search {
      margin: 0;
      float: left;
      input {
        width: 0;
        padding: 0;
        height: 42px;
        border: 0;
        margin: 0;
        border-radius: 0;
        box-shadow: 0 0 0;
        transition: all .2s linear;
        font-size: .8em;
      }
      &.active {
        input {
          padding: 6px 10px;
          width: 200px;
          border-left: 1px solid #ccc;
        }
      }
    }
    .language-selector {
      ul {
        margin: 0;
        padding: 0;
        li {
          float: left;
          margin: 0;
          padding: 0;
          &.active {
            display: none;
          }
          a {
            height: 42px;
            box-sizing: border-box;
          }
          img {
            width: auto;
            height: 10px;
          }
        }
      }
    }
  }
}

#welcome {
  width: 100%;
  margin-top: -140px;
  padding-top: 220px;
  padding-bottom: 180px;
  position: relative;
  margin-bottom: 4rem;
  background: #000;
  &:before {
    opacity: .6;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-image: url('../img/river.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#295f94+0,ffffff+100&0.9+0,0+100 */
    background: -moz-linear-gradient(top, rgba(41,95,148,0.9) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(41,95,148,0.9) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(41,95,148,0.9) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6295f94', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    z-index: 0;
  }
  h2 {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    font-weight: 600;
    margin-bottom: 4rem;
  }
  p {
    font-size: 1.2em;
    margin-bottom: 1.5rem;
  }
  .button {
    display: block;
    width: 100%;
    font-size: .8em;
    padding: 15px;
  }
  .welcome-content {
    background: rgba(0,0,0,0.6);
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 0 10px rgba(0,0,0,0.2);
    padding: 30px;
    color: #fff;
    p {
      color: #ccc;
    }
  }
}

#carousel {
  background: #fff;
  // padding: 5px;
  margin: -9rem 0 6rem;
  box-shadow: 0 0 0 15px rgba(255,255,255,0.1);
  position: relative;
  .carousel-nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 1rem;
    a {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #000;
      border-radius: 100%;
      line-height: 1;
      margin-right: .3rem;
      opacity: .5;
      &.active {
        opacity: 1;
      }
    }
  }
  img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    position: relative;
    z-index: 100;
  }
  .carousel-item {
    position: relative;
    .carousel-item-meta {
      margin: 2rem 0 0;
      h2 {
        font-size: 2.3em;
        color: #333;
        font-weight: 600;
        position: relative;
        z-index: 1;
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}

#social {
  margin-top: -4rem;
  margin-bottom: 4rem;
  background: @blue;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 10;
  &:before {
    content: '';
    position: absolute;
    left: -2000px;
    right: -2000px;
    border-top: 10px solid lighten(@blue, 5%);
    border-bottom: 10px solid lighten(@blue, 5%);
    top: 0;
    bottom: 0;
    background: @blue;
  }
  .social-content {
    position: relative;
    z-index: 1;
  }
  h2 {
    color: #fff;
    font-size: 1.4em;
  }
  a {
    display: inline-block;
    margin: 0 1rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    color: #fff;
  }
  .fa {
    font-size: 3em;
  }
}

#map {
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
  .map-info {
    background: #333;
    padding: 2rem 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    h2 {
      margin: 0;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: .2rem;
      font-weight: 600;
      color: #ccc;
    }
  }
}

.page-section {
  .section-title {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 600;
    color: #999;
  }
  .section-box {
    background: #f4f4f4;
    padding: 2rem;
    font-size: .9em;
    .button {
      display: block;
    }
  }
}

#basins {
  .basins-section-header {
    background: #333;
    padding-top: 2rem;
  }
  .basin-item {
    background: #222 url(../img/water_bg.jpg) bottom center no-repeat;
    color: #fff;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
    padding: 0;
    margin: 0;
    overflow: hidden;
    .basin-header {
      h3 {
        float: left;
        font-size: 6rem;
        margin-right: 2.5rem;
      }
      h4 {
        font-size: .7em;
        font-weight: 500;
        color: #555;
        margin: -.3rem 0 .05rem;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      nav {
        margin-top: 2.5rem;
        float: left;
        a {
          display: inline-block;
          margin-right: 1rem;
          color: #aaa;
          text-decoration: none;
          font-weight: 600;
          font-size: 1.15em;
          .fa {
            font-size: .8em;
            margin-right: .5rem;
            color: #555;
          }
          &:hover {
            color: #fff;
          }
        }
      }
    }
    h3 {
      font-weight: 600;
      font-size: 3em;
      text-shadow: 1px 1px 2px rgba(0,0,0,1);
    }
    .info,
    .posts {
      margin: 3rem 0;
    }
    .button {
      display: block;
    }
    .info {
      p {
        color: #ccc;
      }
    }
    .posts {
      h3 {
        font-size: .9em;
        font-weight: 600;
        margin: 0 0 1rem;
        letter-spacing: 0;
        a {
          color: inherit;
          text-decoration: none;
        }
      }
      img {
        box-shadow: 0 0 15px rgba(0,0,0,.5);
      }
    }
    .map {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 590px;
      box-shadow: 0 0 15px rgba(0,0,0,0.5);
      .tooltip {
        display: none !important;
      }
    }
  }
  img {
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 2rem;
  }
}

#story-map {
  width: 100%;
  height: 600px;
  position: relative;
  iframe {
    width: 100%;
    height: 100%;
  }
  .example {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.8);
    p {
      margin-top: 25%;
      font-size: 1em;
      font-weight: 600;
      text-transform: uppercase;
      color: #000;
      text-align: center;
    }
  }
}

#single {
  padding-top: 50px;
  margin: 0 0 6rem;
  .article-header {
    background: #222 url('../img/water_bg.jpg') bottom center no-repeat;
    padding: 4.2rem 0 9rem;
    margin: 0 0 -7rem;
    h2 {
      margin-left: 106px;
      padding-left: 1.2rem;
      margin-bottom: 3rem;
      font-size: 1.2em;
      text-transform: uppercase;
      font-weight: 500;
      color: #444;
      letter-spacing: .2rem;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
    h1 {
      margin: 0 0 4rem;
      font-size: 3em;
      font-weight: 600;
      border-top: 1px solid #444;
      padding-top: 1.5rem;
      color: #f0f0f0;
    }
    .post-meta {
      margin: -2rem 0 4rem;
      p {
        color: rgba(255,255,255,0.5);
        font-style: italic;
      }
    }
  }
  .article-share {
    h3 {
      font-size: 1.1em;
      line-height: 1.3;
      padding-bottom: 3.15rem;
      margin-bottom: 1.5rem;
      color: #444;
      font-weight: 500;
      text-transform: uppercase;
      border-bottom: 1px solid #444;
      letter-spacing: .1rem;
    }
    ul {
      list-style: none;
      li {
        margin: 0 0 10px;
        padding: 0;
      }
    }
  }
  .article-media {
    margin: 0 0 4rem;
    .media-content {
      box-shadow: 0 0 3px rgba(0,0,0,0.6), 0 0 0 18px rgba(255,255,255,0.07);
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
  .article-content {
    font-size: 1.2em;
  }
  #map {
    margin: 2rem 0 4rem;
  }
  .article-related {
    font-size: .8em;
    margin-top: 2rem;
    h3 {
      color: #999;
      font-weight: 600;
      letter-spacing: .2rem;
      font-size: 1em;
      text-transform: uppercase;
    }
    ul {
      list-style: none;
      li {
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: .6rem;
        margin-bottom: .5rem;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

#archive {
  padding-top: 50px;
  margin: 0 0 6rem;
  img {
    max-width: 100%;
    height: auto;
  }
  .archive-header {
    background: #222 url('../img/water_bg.jpg') bottom center no-repeat;
    padding: 11rem 0 2rem;
    margin: 0 0 4rem;
    h1 {
      margin: 0 0 4rem;
      font-size: 3em;
      font-weight: 600;
      color: #f0f0f0;
    }
  }
  .archive-content {
    article {
      border-bottom: 1px solid #ccc;
      margin: 0 0 4rem;
      padding: 0 0 4rem;
      p.type {
        margin: 0;
        text-transform: uppercase;
        font-size: .8;
        font-weight: 600;
        color: #999;
        letter-spacing: .2rem;
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            color: #666;
          }
        }
      }
      h2 {
        font-weight: 600;
        font-size: 2.2em;
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            color: #111;
          }
        }
      }
    }
  }
}

#page {
  padding-top: 50px;
  margin: 0 0 6rem;
  img {
    max-width: 100%;
    height: auto;
  }
  .page-header {
    background: #222 url('../img/water_bg.jpg') bottom center no-repeat;
    padding: 11rem 0 6rem;
    margin: 0 0 4rem;
    h1 {
      margin: 0 0 4rem;
      font-size: 3em;
      font-weight: 600;
      color: #f0f0f0;
    }
    .page-share {
      margin-top: -6.8rem;
      h3 {
        font-size: 1.1em;
        line-height: 1.3;
        padding-bottom: 3.15rem;
        margin-bottom: 1.5rem;
        color: #444;
        font-weight: 500;
        text-transform: uppercase;
        border-bottom: 1px solid #444;
        letter-spacing: .1rem;
      }
      ul {
        list-style: none;
        li {
          margin: 0 0 10px;
          padding: 0;
        }
      }
    }
  }
  .page-content {
    font-size: 1.2em;
    img {
      display: block;
      margin: 2rem 0 4rem;
    }
  }
}

#latest,
#publications,
#videos {
  margin: 0 0 4rem;
  .post-item {
    margin-bottom: 1rem;
    img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 0 1rem;
    }
    h3 {
      font-size: 1.5em;
      margin: 0 0 1rem;
      font-weight: 500;
      a {
        color: #333;
        text-decoration: none;
        &:hover {
          color: #000;
        }
      }
    }
    &.small {
      font-size: .6em;
      h3 {
        font-weight: 500;
        letter-spacing: 0;
      }
      img {
        float: left;
        width: 25%;
        margin: 0 1rem 1rem 0;
      }
    }
  }
}

#latest {
  padding-bottom: 4rem;
  border-bottom: 1px solid #ccc;
  &.clean {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

#publications,
#videos {
  .post-item {
    margin: 0 0 1rem;
  }
}

#share {
  margin: 0 0 4rem;
  .fa {
    font-size: 3em;
    display: block;
    text-align: center;
    margin: 3rem 0;
  }
  a {
    text-decoration: none;
    color: #333;
  }
}

#main-map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#colophon {
  background: #111;
  color: #f0f0f0;
  padding: 4rem 0;
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-shadow: 1px 1px 2px #000;
      color: #fff;
    }
  }
  nav {
    font-weight: 600;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        display: inline-block;
        a {
          padding: 7px;
        }
      }
    }
  }
}

.page-template-basins {
  #main-map {
    left: 30%;
  }
}

#basins-selector::-webkit-scrollbar{
  width: 10px;
  background-color: transparent;
}

#basins-selector::-webkit-scrollbar-thumb{
  background-color: @blue;
  border-radius: 15px;
  border: 1px solid #444;
}
#basins-selector::-webkit-scrollbar-thumb:hover{
  background-color: lighten(@blue, 10%);
}
#basins-selector::-webkit-scrollbar-thumb:active{
  background-color: lighten(@blue, 15%);
}


#basins-selector {
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  background: #222 url('../img/water_bg.jpg') bottom center no-repeat;
  color: #fff;
  overflow: auto;
  .basins-selector-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #444;
  }
  h3 {
    margin: 2rem;
    color: #555;
    letter-spacing: .20rem;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
  }
  &.selected {
    .basins-selector-content {
      border-top: 0;
    }
    h3 {
      opacity: 0;
    }
    .basin-item {
      padding: 2rem;
      h2 {
        font-size: 1.5em;
      }
    }
  }
  .basin-item {
    padding: 4rem 2rem;
    transition: all .2s linear;
    color: #fff;
    border-bottom: 1px solid #444;
    background: rgba(255,255,255,0.03);
    &:first-child {
      border-top: 1px solid #444;
    }
    &:hover {
      background: rgba(0,0,0,0.1);
    }
    &.active {
      .basin-description {
        height: 320px;
        padding: 2rem;
      }
    }
    h2 {
      cursor: pointer;
      font-weight: 600;
      font-size: 2.5em;
      margin: 0;
      opacity: 1;
      transition: all .2s linear;
      a {
        color: inherit;
        display: block;
        outline: none;
        text-decoration: none;
      }
    }
    .basin-description {
      transition: all .2s linear;
      overflow: auto;
      height: 0;
      margin: 1rem 0 0;
      background: #fff;
      color: #333;
      margin: 2rem -2rem -2rem;
      padding: 0;
    }
  }
}
